#botaoAnima{
    padding: 5px;
    margin: 10px;
    background-color: var(--corLink);
    color: var(--corSecundaria);
    border: none;
    transition: 0.3s;

}
body{
    overflow: hidden;
}
#textoAnima:focus{
    border: none;
    transition: 1s;
    border-bottom: 2px solid black;
    background-color: aqua;
    border-radius: 10px;
}
#botaoAnima:active{
    border: 2px solid rgb(7, 6, 5);
}

#botaoAnima:hover{  
    background-color: var(--corTexto);
    color: var(--corSecundaria);
    padding: 10px;

}
@keyframes teste {
    0%{ 
        width: 150px;
        height: 150px;  
    }
    20%{
        border-radious: 100%;
 }
    40%{ margin-top: 30px;}
   60%{
    transform: rotate(360deg);
   }
   80%{
    margin-left: 500px;
   }
    100%{ 
    margin-top: 0%;
    width: 200px;
    height: 200px;
    border-radius: 0%;

   }
}
#caixa{
    width: 200px;
    height: 200px;
    background-color: var(--corPrimaria);
    animation-name: teste;
    animation-duration: 3s;
    background-color: var(--corLink);
}
/*#botaoAnima:hover{
    animation-name: teste;
    animation-duration: 3s;
}*/
